
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in GlobalFilters.Filters)
{
    @item <br/>
}
<br />

@foreach (var item in ModelValidatorProviders.Providers)
{
    @item <br />
}
<br />
@ModelMetadataProviders.Current
